@(title: String, head: Html = Html(""), foot: Html = Html(""))(body: Html)
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="renderer" content="webkit"/>
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <meta name="keywords" content="Scala,Akka,Play,Play 2,Java,JVM,PostgreSQL,Slick,函数式,并发">
        <meta name="description"        content="更好的Scala中文社区"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
        <title>@title - helloscala.com</title>

        <link rel="icon" href="/assets/img/logo.png"/>

            <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="/assets/img/logo.png"/>

            <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="apple-mobile-web-app-title" content="橙信"/>
        <link rel="apple-touch-icon-precomposed" href="/assets/img/logo.png"/>

            <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="/assets/img/logo.png"/>
        <meta name="msapplication-TileColor" content="#0e90d2"/>

        <link rel="stylesheet" href="/assets/css/app/app.css"/>
        <link rel="stylesheet" href="/assets/vendor/css/font-awesome.css"/>

            <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        @head
    </head>
    <body>
        @body
        @foot
    </body>
</html>
